<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>517398757906-n9skrs1v29fdhptohlicb2ti47o21q9n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.517398757906-n9skrs1v29fdhptohlicb2ti47o21q9n</string>
	<key>API_KEY</key>
	<string>AIzaSyALdng0-uMvs-bDL2sxcheBBP0FJqQrt5Y</string>
	<key>GCM_SENDER_ID</key>
	<string>517398757906</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.imt.DemoCrashTest2</string>
	<key>PROJECT_ID</key>
	<string>democrashtest</string>
	<key>STORAGE_BUCKET</key>
	<string>democrashtest.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:517398757906:ios:5594ea8bb510ebdbeccecb</string>
	<key>DATABASE_URL</key>
	<string>https://democrashtest.firebaseio.com</string>
</dict>
</plist>